@import "./variable.scss";
@import "./media.scss";

.frame {
  text-align: center;
  .frame__box {
    .rod-corner {
      position: absolute;
      background-size: contain;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
    }

    .top-left-corner {
      top: 0;
      left: 0;
      transform: rotate(-90deg);
    }

    .top-right-corner {
      top: 0;
      right: 0;
      transform: rotate(0deg);
    }

    .bottom-left-corner {
      bottom: 0;
      left: 0;
      transform: rotate(90deg);
    }

    .bottom-right-corner {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
}
