@import "./variable.scss";
@import "./media.scss";

.material {
  padding: 90px 10px 150px;
  position: relative;
  z-index: 1;
  background: #fff;
  .container {
    margin: auto;
    max-width: 1200px;
    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px;
      text-transform: capitalize;
      font-family: "Montserrat";
    }
    p {
      color: #222 !important;
      font-size: 24px;
      line-height: 33px;
      font-weight: 300;
      margin: 20px 10px;
    }
    .img__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;

      @include lg {
        display: flex;
        flex-direction: column-reverse;
      }

      .item {
        width: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: center;

        img {
          width: 100%;
        }
      }
    }
  }
}
