@import "./media.scss";

.product-parent {
  .filter__toggle {
    @include -lg {
      display: none;
    }
  }
  .first-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    margin: auto;
    gap: 30px;

    @include lg {
      grid-template-columns: 1fr;
    }

    .text {
      border: 2px solid #dddddd;
      padding: 30px;

      h1 {
        font-size: 48px;
        margin: 0;
        padding: 0;
        color: #292929;
      }

      h5 {
        font-size: 25px;
        font-weight: 400;
        color: #3e3c41;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
      }
    }

    .img {
      img {
        width: 100%;
      }
    }
  }

  .colors-filter-product-parent {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    width: 95%;
    margin: auto;
    padding-top: 40px;
    gap: 20px;
    @include lg {
      display: grid;
      grid-template-columns: 1fr;
      width: 95%;
      margin: auto;
      padding-top: 40px;
      gap: 20px;
      position: relative;
    }
    .colors-filter {
      @include lg {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #fff;
        display: none;
      }
      .colors-button-parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 20px 0;
        border-bottom: 2px solid #dddddd;

        button {
          padding: 10px;
          border-radius: 80px;
          border: none;
          margin-top: 15px;
          cursor: pointer;
        }

        .blac {
          background: black;
        }

        .blue {
          background: blue;
        }

        .brown {
          background: brown;
        }

        .cream {
          background: pink;
        }

        .yellow {
          background: yellow;
        }

        .gray {
          background: gray;
        }

        .green {
          background: green;
        }

        .white {
          background: rgb(201, 198, 198);
        }

        .red {
          background: red;
        }

        .pink {
          background: rgb(247, 156, 239);
        }

        .purple {
          background: purple;
        }
      }

      .popular-frames {
        padding: 40px 0 0 0;

        h4 {
          color: #292929;
          font-weight: 600;
        }

        .popular-parent-div {
          padding-top: 20px;
        }

        .popular-div {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 20px 0 10px 0;

          h3 {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .frame-material {
        padding: 40px 0 0 0;

        h4 {
          color: #292929;
          font-weight: 600;
        }

        .frame-material-div {
          padding-top: 20px;

          .frame-material-div {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0px 0 10px 0;

            h3 {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .product-image {
      .sort-parent {
        display: flex;
        justify-content: space-around;

        @include lg {
          flex-direction: column;
        }

        .sort-section {
          display: flex;
          align-items: center;
          gap: 40px;

          @include lg {
            margin-top: 20px;
          }

          h4 {
            color: #7c5050;
          }

          select {
            border: none;
            outline: none;
            border: 1px solid #000000;
            padding: 5px;
            border-radius: 2px;
          }
        }
      }

      .product-images-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: center;
        gap: 20px;
        padding-top: 80px;
        padding-bottom: 40px;
        border-bottom: 2px solid #dddddd;
        @include lg {
          grid-template-columns: 1fr;
        }
        > div {
          border: 1px solid #dddddd;
          padding: 10px;
          border-radius: 8px;
          // box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
        .img {
          height: 250px;
          border: 1px solid #dddddd;
          border-radius: 8px;
          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }

        h4 {
          width: 90%;
          margin: auto;
          font-size: 14px;
          font-weight: 700;
          padding: 10px 0 5px 0;
          color: #292929;
        }
      }
    }
    .detail {
      border-bottom: 1px solid #dddddd;
      padding: 20px 0;
      margin-bottom: 40px;
      h1 {
        color: #7c5050;
      }
      button {
        padding: 10px 30px;
        margin-top: 20px;
        border: none;
        color: white;
        background: #4863db;
      }
    }
  }
  .search__inner {
    input {
      width: 100%;
      font-weight: 400;
      transition: all 0.2s ease 0s;
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 15px 50%;
      background-image: url("https://ecommerce-shopmax.netlify.app/static/media/search-black.074d6b75.svg");
      padding: 15px 20px 15px 40px;
      border-radius: 5px;
      border: 1px solid rgb(221, 221, 221);
    }
  }
}
