@import "./variable.scss";
@import "./media.scss";

.roadmap {
  padding: 60px 0 240px;
  position: relative;
  background: #960686;
  z-index: 6;
  .ore {
    position: absolute;
    top: -4%;
    z-index: 1;
    right: 2%;
    width: 300px;
    height: 300px;
    object-fit: contain;
    @include md {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../public/images/Background/about-second.png) center
      center/cover no-repeat;
    background-position: 0% 0%;
    background-size: contain;
    z-index: -1;
    // filter: hue-rotate(7deg);
  }

  .heading {
    h1 {
      font-size: 6rem;
      line-height: 1;
      display: block;
      font-weight: 100;
      text-transform: uppercase;
      text-shadow: 1px 2px 11px #00000026;
      text-align: center;
      color: #ffffff;
      font-family: "Bebas Neue", cursive !important;
      margin: 0;
      margin-top: 30px;
      @include md {
        font-size: 5rem;
      }
    }
    p {
      text-align: center;
      color: white;
      font-size: 1.2rem;
      @include md {
        font-size: 1rem !important;
        width: 90%;
        margin: auto;
      }
    }
  }

  .container {
    max-width: 1200px;
    margin: 40px auto;

    .roadmap__grid {
      padding: 30px 20px;
      @include md {
        padding: 30px 5px;
      }
      p {
        font-size: 30px;
        color: #fff;
        text-align: center;
        width: 80%;
        margin: auto;
        line-height: 1.3;
        margin-top: 15px;
        @include md {
          font-size: 24px;
          width: 90%;
        }
      }
      .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem 3rem;
        padding: 90px 20px;
        @include md {
          grid-template-columns: 1fr;
        }
        .item {
          h3 {
            font-size: 5rem;
            font-weight: 100;
            font-family: "Bebas Neue";
            text-transform: uppercase;
            color: #fff;
            @include md {
              font-size: 4rem;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-left: 25px;
            li {
              font-size: 24px;
              color: #fff;
              @include md {
                font-size: 20px;
              }
            }
          }
        }
      }
      .bottom {
        h3 {
          font-size: 5rem;
          font-weight: 100;
          font-family: "Bebas Neue";
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          margin-top: 60px;
        }
        p {
          font-size: 30px;
          color: #fff;
          text-align: center;
          width: 80%;
          margin: auto;
          line-height: 1.3;
          margin-top: 15px;
          @include md {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.owl-carousel .owl-stage-outer {
  position: relative;
  padding: 15px 0 !important;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
